@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

body {
  margin: 0;
  /* border-top: 5px solid #0af5f4; */
  width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

* {
  font-family: "Poppins", sans-serif;
}

.auth-background {
  background: #ece9e6;
  background: -webkit-linear-gradient(to top, #ffffff, #ece9e6);
  background: linear-gradient(to top, #ffffff, #ece9e6);
}

a:hover {
  text-decoration: none !important;
}

.hoverAnim:hover {
  transform: scale(1.05);
}

.fiv-size-2xl {
  font-size: 6em;
}

.video-react {
  max-height: 600px;
  max-width: 576px;
  overflow: hidden;
}
