@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

body {
	margin: 0;
	border-top: 5px solid #0af5f4;
}

html {
	height: 100%;
}

* {
	font-family: "Poppins", sans-serif;
}

a:hover {
	text-decoration: none !important;
}

.hoverAnim:hover {
	transform: scale(1.05);
}

.upload-hover:hover {
	width: 8rem;
	transform: scale(1.1);
	border-radius: 12px;
}

.upload-hover:hover .upload-text {
  padding-left: 5px;
  display: block;
}

.upload-text .upload-hover {
	max-width: 0;
	-webkit-transition: max-width 1s;
	transition: max-width 1s;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
}
